<% layout('layouts/boilerplate') %> <% title='New Restaurant' %>
<!--adding header and footer defined in layout/boilerplate-->

<div class="container d-flex justify-content-center align-center m-auto w-100">
  <div class="row w-100">
    <div class="col-md-8 offset-md-2 col-xl-6 offset-xl-3">
      <div class="card shadow">
        <div class="card-body">
          <form
            action="/restaurants"
            method="post"
            class="validated-form"
            novalidate
            enctype="multipart/form-data"
          >
            <div class="mb-3">
              <label class="form-label" for="name">Name</label>
              <input
                class="form-control"
                type="text"
                id="name"
                name="restaurant[name]"
                required
              />
              <div class="valid-feedback">Looks Good!!</div>
              <div class="invalid-feedback">Name is required</div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="location">Location</label>
              <input
                class="form-control"
                type="text"
                id="location"
                name="restaurant[location]"
                required
              />
              <div class="valid-feedback">Looks Good!!</div>
              <div class="invalid-feedback">Location is required</div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="description">Description</label>
              <textarea
                class="form-control"
                type="text"
                id="description"
                name="restaurant[description]"
                required
              ></textarea>
              <div class="valid-feedback">Looks Good!!</div>
              <div class="invalid-feedback">Description is required</div>
            </div>
            <div class="mb-3">
              <!-- <label class="form-label" for="image">Image URL</label>
                  <input
                    class="form-control"
                    type="text"
                    id="image"
                    name="restaurant[image]"
                    required
                  /> -->
              <label class="form-label" for="image">Add images</label>
              <input
                type="file"
                class="form-control"
                name="image"
                id="image"
                multiple
              />
              <div class="valid-feedback">Looks Good!!</div>
              <div class="invalid-feedback">Atleast 1 Image is required</div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="price">Price</label>
              <i class="fa fa-question-circle-o price"></i>
              <div class="price-info">Average Price For Two Customer</div>
              <input
                class="form-control"
                type="text"
                id="price"
                name="restaurant[price]"
                required
              />
              <div class="valid-feedback">Looks Good!!</div>
              <div class="invalid-feedback">Price is required</div>
            </div>

            <div class="d-grid gap-2">
              <button class="btn btn-success">Add Restaurant</button>
              <a class="btn btn-danger" href="/restaurants"
                >Back To Restaurants</a
              >
            </div>
          </form>
          <!--form for new restaurant-->
        </div>
      </div>
    </div>
  </div>
</div>
